.container {
  display: grid;
  /* grid-template-columns: 200px auto 200px auto; */
  /* grid-template-columns: repeat(4, 200px); */
  /* grid-template-columns: repeat(4, 20%); */
  /* grid-template-columns: repeat(4, 2fr); */
  /* grid-template-columns: repeat(3, 1fr) 25%; */
  grid-template-columns: repeat(3, 1fr) 350px;
  justify-content: center;
  align-content: center;
  height: 250px;
  /*align item er jonno height must*/
  align-items: center;
  border: 1px solid red;
}
.item {
  border: 1px solid yellowgreen;
  display: grid;
  justify-items: center;
}
